<div class="container">
    <div class="row">
    <div class="col-md-6 offset-md-3">
    <h2>Registro de Creditos Financiero</h2>
    <form >
    <div class="form-group">
    <label>Identificacion</label>
    <input type="text" name="identificacion" [(ngModel)]="credito.identificacion" class="form-control" />
    </div>
    <div class="form-group">
    <label>Nombre</label>
    <input type="text" name="nombre" [(ngModel)]="credito.nombre" class="form-control" />
    </div>
    <div class="form-group">
    <label>Capital Inicial</label>
    <input type="number" name="capitalinicial" [(ngModel)]="credito.capitalinicial" class="form-control" />
    </div>
    <div class="form-group">
    <label>Tasa Interes</label>
    <input type="number" name="tasainteres" [(ngModel)]="credito.tasainteres" class="form-control" />
    </div>
    <div class="form-group">
    <label>Tiempo De Duracion</label>
    <input type="number" name="tiempoduracioncredito" [(ngModel)]="credito.tiempoduracioncredito" class="form-control" />
    </div>
    <div class="form-group">
    <label>Valor Total</label>
    <input type="number" name="valortotal" [(ngModel)]="credito.valortotal" class="form-control" />
    </div>
    <div class="text-center">
    <button class="btn btn-primary mr-1"(click)="add()">Registrar</button>
    <button class="btn btn-secondary" type="reset">Cancelar</button>
    </div>
    </form>
    </div>
    </div>
    </div>